* {
  margin: 0;
  padding: 0;
}

.titulo-dunkdime {
  font-size: 312%;
}

.descricao-dunk {
  font-size: 220%;
  color: rgb(98, 36, 214);
}

.laranja-hooper {
  color: orange;
  font-size: 250%;
}

.terceira-linhap {
  font-size: 200%;
}

body {
  box-sizing: border-box;
  height: 100vh;
}

.container {
  display: flex;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}
